<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047819931489-htm0i26cp092aro0oj9117kb6bnjr55m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047819931489-htm0i26cp092aro0oj9117kb6bnjr55m</string>
	<key>API_KEY</key>
	<string>AIzaSyCHldjLEBK4KCj7mMCDR3tb1ZMpQc-MUmA</string>
	<key>GCM_SENDER_ID</key>
	<string>1047819931489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.RealEstateFinder</string>
	<key>PROJECT_ID</key>
	<string>realestatefinder-8d707</string>
	<key>STORAGE_BUCKET</key>
	<string>realestatefinder-8d707.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047819931489:ios:07484ec5a390933e04ff20</string>
</dict>
</plist>